* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ecef;
}

a {
    color: white;
    &:hover {
        text-decoration: none;
        color: rgb(92, 89, 89);
    }
}

$color-red: #d35266;

@mixin tablet {
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 767px) {
        @content;
    }
}


//nav
nav {
    font-size: 16px;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    .right-nav {
        width: 80%;
        justify-content: space-between;
    }

    @include phone {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        .right-nav {
            margin-top: 2%;
            justify-content: center;
            span {
                display: none;
            }
        }
    }
}


//section1
.search {
    background-color: $color-red;
    form {
        justify-content: center;
    }

    @include phone {
        form {
            flex-direction: column;
            width: 70%;
            margin: auto;
        }
    }
}

//section2
.display {
    justify-content: space-between;
    .right-display {
        .font-weight-bold {
            margin-top: 6%;
            color: $color-red;
            font-size: 18px;
        }
        span {
            background-color: $color-red;
            border: 1px solid black;
            cursor: pointer;
            &:nth-child(1) {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:nth-child(2) {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    @include phone {
        flex-direction: column;
        font-size: 14px;
        img {
            width: 200px;
            height: 200px;
        }

        .right-display {
            .font-weight-bold {
                text-align: center;
                margin-top: 0%;
                padding-top: 0;
             }
        }
    }
}

//content
.content {
    width: 98%;
    margin: 2% auto;
    img {
        height: 40%;
    }

    @include tablet {
        .card-deck {
            display: flex;
            .card {
                min-width: 40%;
                margin-bottom: 2%;
            }
        }
    }

    @include phone {
        .card-deck {
            display: flex;
            flex-direction: column;
        }
    }
}

//footer
footer {  
    font-size: 18px;
    color: white;
    padding-top: 3%;
    
    .footer-top {
        width: 95%;
        margin: 0 auto;
        justify-content: space-around;
        .left-footer {
            width: 50%;
        }
    }

    @include phone {
        .footer-top {
            flex-direction: column;
            a {
                display: block;
                text-align: center;
                margin-bottom: 2%;
            }

            h3 {
                text-align: center;
                font-size: 18px;
                margin-top: 2%;
            }

            p {
                font-size: 16px;
            }

            .left-footer, .right-footer {
                width: 100%;
            }

            .right-footer .d-flex {
                font-size: 18px;
                justify-content: space-around;
            }
        }

        .footer-below {
            font-size: 16px;
        }
    }
}